body {
    margin: 0;

    height: 100vh;

    display: grid;
    grid-template: 
        "header header" 100px
        "aside main" 1fr /
        300px 1fr;
}

header {
    grid-area: header;

    color: white;
    background-color: #5b21b6;
    padding: 5px 10px;
}

aside {
    grid-area: aside;

    background-color: #7c3aed;
}

main {
    grid-area: main;
}

.container {
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 150px;

    gap: 10px;
}

.card {
    background-color: #ede9fe;

    display: grid;
    place-items: center;

    border-radius: 5px;
}

.rating-bar {
    display: flex;
    flex-direction: row-reverse;
    width: min-content;
}

.star {
    color: white;
}

.star.selected ~ .star,
.star:hover ~ .star{
    color: #FBC02D;
}

.star.selected,
.star:hover{
    color: #FBC02D;
}

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.dialog-container[aria-hidden="true"] {
    display: none;
}

.dialog-overlay {
    background-color: rgba(0, 0, 0, 0.712);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialog-content {
    background-color: #7c3aed;
    position: relative;
    z-index: 2;
}

.dialog-close {
    position: absolute;
    top: 0;
    right: 0;
}